/* Global */

* {
    font-family: 'Gotham Pro', sans-serif;
}

a {
    display: inline-block !important;
    text-decoration: none !important;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Background */

#fluid-2 {    
    padding-top: 40px;
    background-color: #F7F9FB;
}

/* Typography */

@font-face {
    font-family: 'Gotham Pro';
    src: url('../font/Gotham Pro/Gotham Pro.eot');
    src: url('../font/Gotham Pro/Gotham Pro.eot?#iefix') format('embedded-opentype'),
        url('../font/Gotham Pro/Gotham Pro.woff') format('woff'),
        url('../font/Gotham Pro/Gotham Pro.ttf') format('truetype'),
        url('../font/Gotham Pro/Gotham Pro.svg#Gotham Pro') format('svg');
    font-weight: normal;
    font-style: normal;
}