/* Navbar */

header>* {
    align-items: center;
}

.navborder {
    border-right: 2px solid #F4F4F4;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav li {
    display: inline;
    align-items: center;
    padding: 0 0 13px;
    margin: 0 !important;
    border-bottom: 2px solid transparent;
}

nav li:hover {
    border-bottom: 2px solid #0275B1;
}

nav li a:hover {
    color: #0275B1 !important;
}

.nav-link {
    color: #181818 !important;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    display: inline-block;
}

/* Svg */

svg {
    display: block;
    width: 24px;
    height: 24px;
    margin: auto;
}

/* Dropdown */

.dropdown-content {
    display: none;
    position: absolute;
    width: 400px;
    background: #fff;
    box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
    z-index: 1;
    margin-top: 10px;
}

.dropdown-content a {
    color: #181818;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 20px 37px;
}

.dropdown-content hr {
    color: #EBEBEB;
    margin: auto;
    width: 344px;
}

li:hover .dropdown-content {
    display: block;
}

/* Profile */

.user>img {
    padding: 0 15px;
}

.user .p1 {
    color: #181818;
    font-size: 12px;
    line-height: 5px;
    font-weight: bold;
}

.user .p1 span {
    opacity: 0.2;
    padding-left: 10px;
}

.user .p2 {
    color: #747474;
    font-size: 12px;
    line-height: 5px;
    margin: auto;
}

.user .p2 span {
    color: #02B033;
}

/* Search */

header .search {
    padding: 0 30px;
}

input[type="search"] {
    border: none;
    outline: none;
}