/* Navbar */

header>* {
    align-items: center;
}

.navborder {
    border-right: 2px solid #F4F4F4;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav li {
    display: inline;
    align-items: center;
    padding: 0 0 10px;
    margin: 0 !important;
    border-bottom: 2px solid transparent;
}

nav li:hover {
border-bottom: 2px solid #0275B1;
}

nav li:hover img {
fill: #0275B1;
}

nav li a:hover {
    color: #0275B1 !important;
}

.nav-link {
    color: #181818 !important;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
}

.nav-img {
    display: block;
    padding: 10px;
    margin: auto;
}

/* Profile */

.user>img {
    padding: 0 15px;
}

.user .p1 {
    color: #181818;
    font-size: 12px;
    line-height: 5px;
    font-weight: bold;
}

.user .p1 span {
    opacity: 0.2;
    padding-left: 10px;
}

.user .p2 {
    color: #747474;
    font-size: 12px;
    line-height: 5px;
    margin: auto;
}

.user .p2 span {
    color: #02B033;
}

/* Search */

header .search {
    padding: 0 30px;
}

input[type="search"] {
border: none;
outline: none;
}